*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--first-color: #fa1406;
	--second-color: #d2c7be;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

.stopwatch {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50rem;
	padding: 3.125rem;
	background-image: radial-gradient(
		circle,
		rgb(43, 44, 46) 0%,
		rgb(25, 25, 25) 93%
	);
}
